body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F5E6;
}

.navbar {
  background-color: #333A56;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  justify-content: space-between;
}

.name {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link:hover {
  color: #bbdefb;
}

.icon {
  font-size: 1.2em;
}

main {
  padding: 40px;
  text-align: center;
}

h1 {
  color: #52658F;
  font-size: 2.5em;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 1.1em;
  color: #333A56;
  line-height: 1.6;
}